ct-h.moc h2 span.onehtml {
    font-family: 'Open Sans',sans-serif!important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4, h5, h6 {
    font-size: 18px;
}

a {
    color: #39747C;
}

a:visited, a:hover {
    color: #333;
}

::-moz-selection {
    background: #39747C;
    color: #DFF3F6;
}

::-webkit-selection {
    background: #39747C;
    color: #DFF3F6;
}

::selection {
    background: #39747C;
    color: #DFF3F6;
}

.btn.btn-primary {
    background-color: #60C2D0;
    color: #333;
    transition: all 0.5s ease;
    border: none;
    width: 100%;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #333;
    color: #60C2D0;
    transition: all 0.5s ease;
}

.form-container .canvas-img {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background: #60C2D0;
    line-height: 65px;
    font-size: 35px;
    border: 7px solid #333;
    margin: 15px 0px 20px 0px;
    color: #333;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.big .navbar-brand {
    height: 114px;
    padding: 12px 15px;
    transition: all 1.4s ease;
}

.navbar {
    transition: all 1.3s ease;
    background-color: rgba(223,243,246,0.8);
}

.navbar.shrink, .navbar.big {
    transition: all 1.4s ease;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-nav>li {
    padding: 10px;
    transition: all 0.5s ease;
}

.navbar-inverse .navbar-nav>li>a {
    color: #39747C;
    padding: 0px;
    transition: all 0.5s ease;
}
/*
.navbar-inverse .navbar-nav>.active,
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    padding: 10px 0;
    transition: all 0.5s ease;
} */

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    padding: 10px;
    transition: all 0.5s ease;
}

#logo.shrink #text {
    opacity: 0;
    transition: all 1s ease;
}

#logo.big #text {
    opacity: 1;
    transition: all 1.3s ease;
}

.navbar.shrink .navbar-brand {
    height: 90px;
    transition: all 1.4s ease;
}

.user span {
    display: block;
    font-weight: 700;
    line-height: 20px;
}

#logo {
    height: 90px;
    width: 136px;
    opacity: 0;
    display: inline;
    float: left;
    position: relative;
    margin-left: -40px;
}

#text {
    height: 90px;
    width: 140px;
    opacity: 0;
    position: relative;
    right: 0;
}

#logo.shrink {
    height: 56px;
    width: 128px;
    opacity: 0;
    margin-left:-20px;
}

body{ margin:0px 0px; }

.banner.slick-slide{
  background-size:cover;
  position:relative;
  height:100vh;
}
/*
.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 
   	-webkit-transform: translate(0,-50%); /* Safari 
    transform: translate(0,-50%);  

} */

img {
    vertical-align: middle;
    width: 1349px;
    background-position: 55% 30% !important;
    position: relative;
}

#dc_jflickr_slider_container {
    padding: 0px  !important;
}

.banner-slider {
    background-color: #000;
    border: none !important;
    box-shadow: 0;
    margin: 0;
    padding: 0;
    padding: 0px;
    width: 1349px !important;
    height: 100vh !important;
}

.banner-slider li{
    overflow: visible !important;
}

/* dCodes Framework:(c) TemplateAccess */
#dc_jflickr_feed_container{
    margin:0 auto;
    padding:8px;
    text-align:left;
    width:100%
    }
.dc_jflickr_thumbs
    {
        margin:0;
        overflow:hidden;
        padding:0
    }
.dc_jflickr_thumbs li
{
    border:1px solid #ccc;
    float:left;
    list-style:none;
    margin:1px;
}
.dc_jflickr_thumbs li:hover
{
    border:1px solid #09C;
}
.dc_jflickr_thumbs li a{

}
.dc_jflickr_thumbs li img{
    display:block
}
.dc_jflickr_thumbs li a img{
    border:none
}#dc_jflickr_slider_container{
    margin:0 auto;padding:8px
}
.banner-slider{
    background-color:#000;
    border:8px solid #fff;
    box-shadow:2px 2px 6px rgba(0,0,0,0.3);
    height:333px;
    margin:0;
    padding:0;
    padding:0px;
    width:500px
}
.banner-slider li
{
    height:333px;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0px;
    position:relative;
    width:500px
}
.banner-slider li div{
    background:#000;
    bottom:3px;
    color:white;
    font-size:12px;
    left:3px;
    opacity:.8;
    padding:3px;
    /* position:absolute; */
    width:494px;
}
.flickr_slider_nav{
    margin:8px
}
#flickr_slider_prev{
    padding:8px;
    text-decoration:none
}
#flickr_slider_prev:hover{
    color:#666
}
#flickr_slider_next{
    padding:8px;
    text-decoration:none
    }
#flickr_slider_next:hover{
    color:#666
}

.banner-slider .banner {
  background-position: 55% 30% !important;
}

.banner-slider .slick-next {
    right: 15px;
}

.banner-slider .slick-prev {
    left: 15px;
    z-index: 5;
}

.banner-slider .slick-dots {
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    height: 70px;
    padding: 8px 5px 0;
}

.banner-slider .slick-dots li {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 0.7s ease;
}
.banner-slider .slick-dots li.slick-active {
    border: 2px solid #5ec2d0;
    padding: 0;
    border-radius: 100%;
    transition: all 0.7s ease;
}

.slick-dots .img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}

.slick-dots .slick-active .img {
    opacity: 1;
}

.banner-slider .slick-next:before, .banner-slider .slick-prev:before {
    font-family: FontAwesome;
    font-size: 55px;
    color: #dff3f6;
}

.banner-slider .slick-next:before {
    content: '\f0da';
}

.banner-slider .slick-prev:before {
content:'\f0d9';
}

#dc_jflickr_slider_container {
    height:100vh;
}

#dc_flickr_slider {
    border: none !important;
    height: 100% !important;
    width: 100% !important;
    box-shadow: none !important;
}

.slick-slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position:50%;
}

.slick-slide a {
    color: #333;
    z-index: 100;
    width: 100vw;
    display: block;
    height: 10vh;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    line-height: 10vh;
    display: block;
}

.title {
    position: absolute;
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    text-align: center;
    height: 10vh;
    vertical-align: middle;
    color: #333;
    width: 100%;
    display: block;
}

.flickr_slider_nav {
    z-index: 80;
    top: 0;
    width:100%;
    background-color: transparent;
    margin: 0;
}

#flickr_slider_prev { 
    position: absolute;
    bottom: 50vh;
    left: 0;
}

#flickr_slider_next { 
    position: absolute;
    bottom: 50vh;
    right: 0;
}

.banner-slider {
    background-color: #000;
    border: none !important;
    box-shadow: 0;
    margin: 0;
    padding: 0;
    padding: 0px;
    width: 1349px !important;
    height: 100vh !important;
}

.banner-slider li{
    overflow: visible !important;
}

/* dCodes Framework:(c) TemplateAccess */
#dc_jflickr_feed_container{
    margin:0 auto;
    padding:8px;
    text-align:left;
    width:100%
    }
.dc_jflickr_thumbs
    {
        margin:0;
        overflow:hidden;
        padding:0
    }
.dc_jflickr_thumbs li
{
    border:1px solid #ccc;
    float:left;
    list-style:none;
    margin:1px;
}
.dc_jflickr_thumbs li:hover
{
    border:1px solid #09C;
}
.dc_jflickr_thumbs li a{

}
.dc_jflickr_thumbs li img{
    display:block
}
.dc_jflickr_thumbs li a img{
    border:none
}#dc_jflickr_slider_container{
    margin:0 auto;padding:8px
}
.banner-slider{
    background-color:#000;
    border:8px solid #fff;
    box-shadow:2px 2px 6px rgba(0,0,0,0.3);
    height:333px;
    margin:0;
    padding:0;
    padding:0px;
    width:500px
}
.banner-slider li
{
    height:333px;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0px;
    position:relative;
    width:500px
}
.banner-slider li div{
    background:#000;
    bottom:3px;
    color:white;
    font-size:12px;
    left:3px;
    opacity:.8;
    padding:3px;
    /* position:absolute; */
    width:494px;
}
#flickr_slider_prev{
    padding:8px;
    text-decoration:none
}
#flickr_slider_prev:hover{
    color:#666
}
#flickr_slider_next{
    padding:8px;
    text-decoration:none
    }
#flickr_slider_next:hover{
    color:#666
}

#flickr-slider #flickr_slider_prev {
    left: 15px;
    z-index: 5;
}
#flickr-slider #flickr_slider_prev {
    left: 15px;
    z-index: 5;
}

.slick-prev {
    left: -25px;
}

#flickr_slider_prev, #flickr_slider_next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 80;
}

#flickr-slider #flickr_slider_prev:before {
    content: '\f0d9';
}
#flickr-slider #flickr_slider_prev:before, #flickr-slider #flickr_slider_prev:before {
    font-family: FontAwesome;
    font-size: 55px;
    color: #dff3f6;
}

#flickr_slider_prev:before {
    content: '\f0d9';
}

#flickr_slider_next:before, #flickr_slider_prev:before {
    font-family: FontAwesome;
    font-size: 55px;
    color: #dff3f6;
}
#flickr_slider_prev:before {
    content: '←';
}

#flickr_slider_prev {
    left: 15px;
}

#flickr_slider_next {
    right: 15px;
}

#flickr_slider_prev:before {
    content: '\f0d9';
}

#flickr-slider #flickr_slider_prev:hover:before, #flickr_slider_prev:focus:before, #flickr_slider_next:hover:before, #flickr_slider_next:focus:before {
    opacity: 1;
}

#flickr_slider_next:before {
    content: '→';
}
#flickr_slider_next:before {
    content: '\f0da';
}
#flickr-slider #flickr_slider_next:before, #flickr-slider #flickr_slider_prev:before {
    font-size: 55px;
    color: #dff3f6;
}

#flickr_slider_prev:before, #flickr_slider_next:before {
    font-family: FontAwesome;
    font-size: 55px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, ::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-slider .banner {
  background-position: 55% 30% !important;
}

.banner-slider .slick-next {
    right: 15px;
}

.banner-slider .slick-prev {
    left: 15px;
    z-index: 5;
}

.banner-slider .slick-dots {
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    height: 70px;
    padding: 8px 5px 0;
}

.banner-slider .slick-dots li {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 0.7s ease;
}
.banner-slider .slick-dots li.slick-active {
    border: 2px solid #5ec2d0;
    padding: 0;
    border-radius: 100%;
    transition: all 0.7s ease;
}

.slick-dots .img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}

.slick-dots .slick-active .img {
    opacity: 1;
}





#banner-slider-2 {
    background-color: #000;
    border: none !important;
    box-shadow: 0;
    margin: 0;
    padding: 0;
    padding: 0px;
    width: 1349px !important;
    height: 100vh !important;
}

#banner-slider-2 li{
    overflow: visible !important;
}

#banner-slider-2 {
    background-color:#000;
    border:8px solid #fff;
    box-shadow:2px 2px 6px rgba(0,0,0,0.3);
    height:333px;
    margin:0;
    padding:0;
    padding:0px;
    width:500px
}
#banner-slider-2 li
{
    height:333px;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0px;
    position:relative;
    width:500px
}
#banner-slider-2 li div{
    background:#000;
    bottom:3px;
    color:white;
    font-size:12px;
    left:3px;
    opacity:.8;
    padding:3px;
    /* position:absolute; */
    width:494px;
}

#banner-slider-2 .banner {
  background-position: 55% 30% !important;
}

#banner-slider-2 .slick-next {
    right: 15px;
}

#banner-slider-2 .slick-prev {
    left: 15px;
    z-index: 5;
}

#banner-slider-2 .slick-dots {
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    height: 70px;
    padding: 8px 5px 0;
}

#banner-slider-2 .slick-dots li {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 0.7s ease;
}
#banner-slider-2 .slick-dots li.slick-active {
    border: 2px solid #5ec2d0;
    padding: 0;
    border-radius: 100%;
    transition: all 0.7s ease;
}

#banner-slider-2 .slick-next:before, #banner-slider-2 .slick-prev:before {
    font-family: FontAwesome;
    font-size: 55px;
    color: #dff3f6;
}

#banner-slider-2 .slick-next:before {
    content: '\f0da';
}

#banner-slider-2 .slick-prev:before {
content:'\f0d9';
}

#banner-slider-2 {
    background-color: #000;
    border: none !important;
    box-shadow: 0;
    margin: 0;
    padding: 0;
    padding: 0px;
    width: 1349px !important;
    height: 100vh !important;
}

#banner-slider-2 li{
    overflow: visible !important;
}

#banner-slider-2{
    background-color:#000;
    border:8px solid #fff;
    box-shadow:2px 2px 6px rgba(0,0,0,0.3);
    height:333px;
    margin:0;
    padding:0;
    padding:0px;
    width:500px
}
#banner-slider-2 li
{
    height:333px;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0px;
    position:relative;
    width:500px
}
#banner-slider-2 li div{
    background:#000;
    bottom:3px;
    color:white;
    font-size:12px;
    left:3px;
    opacity:.8;
    padding:3px;
    /* position:absolute; */
    width:494px;
}

#banner-slider-2 .banner {
  background-position: 55% 30% !important;
}

#banner-slider-2 .slick-next {
    right: 15px;
}

#banner-slider-2 .slick-prev {
    left: 15px;
    z-index: 5;
}

#banner-slider-2 .slick-dots {
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    height: 70px;
    padding: 8px 5px 0;
}

#banner-slider-2 .slick-dots li {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 0.7s ease;
}
#banner-slider-2 .slick-dots li.slick-active {
    border: 2px solid #5ec2d0;
    padding: 0;
    border-radius: 100%;
    transition: all 0.7s ease;
}

/* meetup event info on homepage */

.box {
    background-color: #9fdae2;
    padding: 5px 15px;
    margin-bottom: 20px;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}

.box .title, .organiser .title {
    position: relative;
    height: 100%;
    margin-top: 0;
}

.event {
    width: 75%;
}

.event-date {
    font-style: italic;
}

.event-title {
    margin-top: 0;
}

.box img {
  width: 100%;
}


.desc {
  overflow: hidden;
	text-overflow: ellipsis;
}

a.linkified {
  max-width: 23vw;
  overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
  display:inline-block;
  line-height: 15px;
}

 .userform {
max-width: 300px;
margin: 12vh auto;
} 

.userform .logo {
    width: 150px;
}

.banner {
    background-image: url("/images/events.png");
    top: 0px;
    left: 0px;
    display: block;
    z-index: 0;
    opacity: 1;
    height: 355px;
    margin-bottom: 15px;
    line-height: 450px;
    padding: 0 5vw;
    vertical-align: middle;
}

.banner .banner-title {
    background-color: #9fdae2;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.banner-title .title {
    position: relative;
    text-align: left;
    height: auto;
    vertical-align: middle;
    color: #333;
    width: 100%;
    margin: 0;
}

.organiser {
    background-color: #9fdae2;
    padding: 5px 15px;
    margin-bottom: 20px;
    max-height: 500px;
    overflow: hidden;
}
