html {
    height:100%;
    box-sizing:border-box;
    font-size:14px;
}

body {
    font-family:'Open Sans',sans-serif;
    position:relative;
    margin:0;
    padding-bottom:10.714em;
    min-height:100%;
}

*,
*:before,
*:after {
    box-sizing:inherit;
}

ct-h.moc h2 span.onehtml {
    font-family:'Open Sans',sans-serif!important;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

h1, h2, h3, h4, h5, h6, a {
    font-family:'Open Sans',sans-serif;
}

h1 {
    font-size:1.786em;
}

h2 {
    font-size: 1.429em;
}

h3, h4, h5, h6 {
    font-size: 1.286em;
}

.title {
    position: absolute;
    bottom: 0;
    background-color: rgba(223,243,246,0.8);
    text-align: center;
    vertical-align: middle;
    color: #333;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    height: auto;
    white-space: normal;
}

#logo.noAnimate, #logo.big.noAnimate, .big #logo, .shrink #logo {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    opacity: 1;
    margin: 0; 
}

.box {
    background-color: #9fdae2;
    margin-bottom: 2.143em;
    height: 100%;
}

.template {
    padding: 1.429em 1.071em;
    text-align: center;
}

.container {
    min-height:100%;
}

.container .template .lead {
    margin-bottom: 1.429rem;
    font-size: 1.143em;
    font-weight: 300;
    line-height: 1.4;
}

.container .template p {
    font-size: 1em;
}

a, a:visited {
    color: #39747C;
}

a:focus, a:hover {
    color: #333;
}

.btns {
    width:100%;
    height: 2.429em;
    margin-bottom: 0.714em;
}

.btn.edit-btn:before {
    font-family: 'FontAwesome';
    content: "\f044";
    padding-right: 0.714rem;
    font-size: 1.143em;
}

.btn.back-btn:before {
    font-family: 'FontAwesome';
    content: "\f0d9";
    padding-right: 0.714rem;
    font-size: 1.143em;
}

.btns .btn.edit-btn {
    float: right;
}

.organiser .btn.back-btn, .organiser .btn.edit-btn:hover, .organiser .btn.edit-btn:focus  {
    background-color: #DFF3F6;
}

.organiser .btn.back-btn:hover, .organiser .btn.back-btn:focus, .organiser .btn.edit-btn {
    color: #DFF3F6;
}

.btn.back-btn:hover, .btn.back-btn:focus {
    background-color: #333;
    color: #60C2D0;
}

.btn.back-btn {
    background-color: #60C2D0;
    color: #333;
    transition: all 0.5s ease;
    border: none;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    margin-right: 0.357em;
    margin-bottom: 0.71em
}

.btns .btn.back-btn {
    float: left;
    margin-bottom: 0; 
}

.btn.edit-btn:hover, .btn.edit-btn:focus {
    background-color: #60C2D0;
    color: #333;
}

.btn.edit-btn {
    background-color: #333;
    color: #60C2D0;
    transition: all 0.5s ease;
    border: none;
    display: inline-block;
    margin: 0 0.357em 0.714em 0;
    font-weight: 700;
}

.btn.btn-secondary.inline::before {
    font-family: 'FontAwesome';
    content: "\f046";
    padding-right: 0.714em;
    font-size: 1.143em;
}

.btn.btn-secondary.inline, .btn.inline {
    display: inline-block;
    margin: 0;
    width: 49%;
}

.btn.btn-primary.inline::before {
    font-family: 'FontAwesome';
    content: "\f046";
    padding-right: 0.714em;
    font-size: 1.143em;
}

.btn.btn-primary.inline {
    display: block;
    margin: 0.714em 0 0;
    width: 100%;
}

.btn.inline {
    margin-right: 0.357em;
}

.event-header {
    display: inline-block;
}

.edit .userform.form-container {
    margin-top: 0;
    margin-bottom: 2.143em;
}

::-moz-selection {
    background: #39747C;
    color: #DFF3F6;
}

::-webkit-selection {
    background: #39747C;
    color: #DFF3F6;
}

::selection {
    background: #39747C;
    color: #DFF3F6;
}

.btn.btn-primary, .btn.btn-secondary {
    font-weight: 700;
}

.btn.btn-primary {
    background-color: #60C2D0;
    color: #333;
    transition: all 0.5s ease;
    border: none;
    width: 100%;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #333;
    color: #60C2D0;
    transition: all 0.5s ease;
}

.btn.btn-secondary {
    background-color: #333;
    color: #60C2D0;
    transition: all 0.5s ease;
    border: none;
    width: 100%;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background-color: #60C2D0;
    color: #333;
    transition: all 0.5s ease;
}

.big .navbar-brand {
    height: 6.000rem;
    padding: 0.857rem 1.071rem;
}

.navbar {
    background-color: rgba(223,243,246,0.8);
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-nav>li {
    padding: 0.357em;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li:last-child {
    padding-bottom: 0.357em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #39747C;
    padding: 0.714em;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
    border: 0.143em solid #333;
    color: #333;
    padding: 0.571em;
}

.banner {
    background-image: url("/images/mob-banner-2.png");
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
    height: 17.857em;
    margin-bottom: 1.071em;
    line-height: 26.5;
    padding: 0 5vw;
    vertical-align: middle;
    background-position: 50%;
}

.banner .banner-title {
    background-color: #9fdae2;
    padding: 0.714em;
    display: inline-block;
    vertical-align: middle;
}

.banner-title .title {
    position: relative;
    text-align: left;
    height: auto;
    vertical-align: middle;
    color: #333;
    width: 100%;
    margin: 0;
    padding: 0 0.714rem;
}

.left, .right {
    text-align: center;
}

.userform {
    max-width: 21.429em;
    margin: 4.286em auto 0;
}

#map {
    width: 100%;
    height: 80vh;
    margin-bottom: 0.714em;
}

#panel {
    width: 100%;
    float: right;
    margin-bottom: 2.143em;
}

#panel table, #panel .adp-warnbox {
  font-family: 'Open Sans',sans-serif;
  margin-top: 0;
}

.address-form {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
#floating-panel {
  background-color: #DFF3F6;
  padding: 0.357em;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  line-height: 2.14;
  font-weight: 700;
}

#floating-panel .form-control {
    width: 100%;
    display: inline-block;
}

#flickr-slider #flickr_slider_next:before, #flickr-slider #flickr_slider_prev:before {
    font-size: 2.500rem;
    color: #dff3f6;
}

#flickr_slider_prev:before, #flickr_slider_next:before {
    font-family: FontAwesome;
    font-size: 2.500rem;
    line-height: 1;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#logo.shrink #text {
    opacity: 0;
    transition: all 1s ease;
}

#logo.big #text {
    opacity: 1;
    transition: all 1.3s ease;
}

.navbar.shrink .navbar-brand {
    height: 3.6em;
    transition: all 1.4s ease;
    padding: 0.714rem;
}

.user span {
    display: block;
    font-weight: 700;
    line-height: 1.43;
}

#logo.big {
    height: 4.286rem;
    width: 4.286rem;
    opacity: 1;
    float: left;
    position: relative;
}

#text {
    height: 4.286rem;
    width: 10.000rem;
    opacity: 1;
    position: relative;
    right: 0;
    margin: 0;
    float: left;
}

#logo.shrink {
    height: 3.214rem;
    width: 9.143rem;
    opacity: 1;
    float: left;
    position: relative;
}

.navbar-inverse .navbar-toggle span.icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:hover span.icon-bar, .navbar-inverse .navbar-toggle:focus span.icon-bar {
    background-color: #9fdae2;
}

img {
    vertical-align: middle;
    background-position: 55% 30% !important;
    position: relative;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

#dc_jflickr_slider_container {
    padding: 0  !important;
}

#flickr_slider_prev:hover{
    color:#666
}

#flickr_slider_next:hover{
    color:#666
}

#dc_jflickr_slider_container {
    height:100vh;
}

#dc_flickr_slider {
    background-color: transparent;
    border: none !important;
    height: 100% !important;
    width: 100% !important;
    box-shadow: none !important;
}

.slick-slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position:50%;
}

.slick-slide a, .title span {
    color: #333;
    vertical-align: middle;
    position: relative;
}

.title a {
    font-weight: 700;
}

.flickr_slider_nav {
    z-index: 80;
    top: 0;
    width:100%;
    background-color: transparent;
}

#flickr_slider_prev { 
    position: absolute;
    bottom: 50vh;
    left: 0;
}

#flickr_slider_next { 
    position: absolute;
    bottom: 50vh;
    right: 0;
}

#flickr_slider_prev:hover{
    color:#666
}

#flickr_slider_next:hover{
    color:#666
}

#flickr_slider_prev, #flickr_slider_next {
    line-height: 0;
    position: absolute;
    top: 50vh;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 80;
    padding:0.571rem;
    text-decoration:none;
}

#flickr-slider #flickr_slider_prev:before {
    content: '\f0d9';
}
#flickr-slider #flickr_slider_prev:before, #flickr-slider #flickr_slider_prev:before {
    font-family: FontAwesome;
    font-size: 2.500rem;
    color: #dff3f6;
}

#flickr_slider_next:before, #flickr_slider_prev:before {
    font-family: FontAwesome;
    font-size: 2.500rem;
    color: #dff3f6;
}

#flickr_slider_prev:before {
    content: '←';
}

#flickr_slider_prev {
    left: 1.071rem;
}

#flickr_slider_next {
    right: 1.071rem;
}

#flickr_slider_prev:before {
    content: '\f0d9';
}

#flickr_slider_prev:hover:before, 
#flickr_slider_prev:focus:before, 
#flickr_slider_next:hover:before, 
#flickr_slider_next:focus:before {
    opacity: 1;
}

#flickr_slider_next:before {
    content: '→';
}
#flickr_slider_next:before {
    content: '\f0da';
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, ::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* meetup event info on homepage */

.box {
    background-color: #9fdae2;
    padding: 0.357em 1.071em;
    margin-bottom: 2.143em;
}

.box .title, .organiser .title {
    position: relative;
    height: 100%;
    margin-top: 0;
    line-height: 1.4;
}

.box .title a, .organiser .title a {
    color: #39747C;
    font-weight: 400;
}

.box .title a:hover, .box .title a:focus, 
.organiser .title a:hover, .organiser .title a:focus  {
    color: #333;
    text-decoration: none;
}

.event {
    width: 75%;
}

.event-date {
    font-style: italic;
}

.event-title {
    margin-top: 0;
}

.box img {
  width: 100%;
}

.desc {
    overflow: hidden;
	text-overflow: ellipsis;
}

.userform .logo {
    width: 10.000em;
}

.organiser {
    background-color: #9fdae2;
    padding: 1.071em 1.071em;
    margin-bottom: 2.143em;
    overflow: hidden;
}

.organiser.img-box {
    background-color: #9fdae2;
    padding: 1.071em 1.071em;
    margin-bottom: 2.143em;
    min-height: 100%;
}

.image img {
    width: 17.143em;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-5 .desc img {
    max-width: 100%;
    max-height: 100%;
}

.desc img {
    width: auto;
    max-height: 10.714em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text {
    margin: 0.714em 0;
}

.content {
    margin-bottom: 2.143em;
}

/* footer */

footer {
    background-color: rgba(223,243,246,0.8);
    margin: 0;
    padding: 2.143em 1.071em;
    display: table;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.center {
    text-align: center;
}

a.meet, a.flickr, a.twitter, a.instagram {
    text-decoration: none;
}

a.meet:before, a.flickr:before, a.twitter:before, a.instagram:before {
    font-family: 'FontAwesome';
    padding: 0.714rem;
    font-size: 1.500em;
    cursor: pointer;
}

a.meet:before {
    content: "\f2e0";
}

a.flickr:before {
    content: "\f16e";
}

a.twitter:before {
    content: "\f081";
}

a.instagram:before {
    content: "\f16d";
}

.center:last-child {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    body {
        padding-bottom: 6.429em;
    }
    
    h1 {
        font-size: 2.143em;
    }

    h2 {
        font-size: 1.786em;
    }

    h3 {
        font-size: 1.429em;
    }

    h4, h5, h6 {
        font-size: 1.286em;
    }

    .container .template .lead {
        font-size: 1.500rem;
    }

    .container .template p {
        font-size: 1.143em;
    }

    .title {
        height: 10vh;
        line-height: 10vh; 
    }

    .box {
        min-height: 32.143em;
        max-height: 32.143em;
        overflow: hidden;
    }

    .big .navbar-brand {
        transition: all 1.4s ease;
    }

    .navbar {
        transition: all 1.3s ease;
    }

    .navbar.shrink, .navbar.big {
        transition: all 1.4s ease;
    }

    .navbar-inverse .navbar-nav>li {
        transition: all 0.5s ease;
        padding: 0.714em;
    }

    .navbar-inverse .navbar-nav>li>a {
        transition: all 0.5s ease;
    }

    .navbar-inverse .navbar-nav>li>a {
        padding: 0;
    }

    .navbar-inverse .navbar-nav>.active>a, 
    .navbar-inverse .navbar-nav>.active>a:focus, 
    .navbar-inverse .navbar-nav>.active>a:hover,
    .navbar-inverse .navbar-nav>li>a:focus, 
    .navbar-inverse .navbar-nav>li>a:hover {
        transition: all 0.5s ease;
        padding: 0.714em;
    }

    .banner {
        background-image: url("/images/banner-2.png");
        height: 21.429em;
        margin-bottom: 1.071em;
        line-height: 32.15;
        padding: 0 5vw;
        vertical-align: middle;
        background-position: 50%;
    }

    .banner .banner-title {
        padding: 0.714em;
        display: inline-block;
        vertical-align: middle;
        margin: 0 1.071em;
    }

    .banner-title .title {
        position: relative;
        text-align: left;
        height: auto;
        vertical-align: middle;
        width: 100%;
        margin: 0;
        padding: 0 1.071rem;
    }

    .template {
        padding: 2.857em 1.071em;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .userform {
    max-width: 21.429em;
    margin: 7.143em auto 0;
    }

    #map {
        width: 60%;
        height: 35.714em;
        margin-bottom: 2.143em;
        float: left;
    }

    #panel {
        width: 40%;
        float: right;
        margin-bottom: 2.143em;
    }

    #panel table, #panel .adp-warnbox {
    margin-left: 0.714em;
    }

    #panel .adp-summary {
        margin-left: 0.714em;
    }

    #floating-panel #address.form-control {
        width: 15.357em;
    }

    .btn.btn-primary.inline {
        display: inline-block;
        margin: 0;
        width: auto;
    }

    #floating-panel .form-control {
        width: 7.357em;
        display: inline-block;
    }

    #flickr-slider #flickr_slider_next:before, #flickr-slider #flickr_slider_prev:before {
        font-size: 3.929rem;
    }

    #flickr_slider_prev:before, #flickr_slider_next:before {
        font-size: 3.929rem;
    }

/*
    .navbar-inverse .navbar-nav>.active,
    .navbar-inverse .navbar-nav>li>a:focus, 
    .navbar-inverse .navbar-nav>li>a:hover {
        padding: 0.714em 0;
        transition: all 0.5s ease;
    } 
*/

    .organiser {
        min-height: 28.571em;
    }

    .col-md-4.center {
        text-align: initial;
    }

    .col-md-4.center:last-child {
        width: 100%;

    }

}

@media only screen and (min-width: 992px) {
    .navbar-brand {
        width: 17.857em;
    }

    .banner .banner-title {
        margin: 0 3.571em;
    }

    .col-md-4.center:last-child {
        width: 33.33333333%;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #dc_jflickr_slider_container {
        width: 99vw;
        margin: 0 !important;
    }

    #dc_flickr_slider {
        width: 100vw !important;
    }

    .container .center, .boxes .center {
        text-align: left;
    }
}
