<!DOCTYPE html>
<html>
  <head>
    <title>{{#if title}} Title - {{title}} {{/if}} | Bristol Photography Group</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />


<script src="https://use.fontawesome.com/b06835dc96.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- DC jflickrfeed -->
<link href="http://cdn.dcodes.net/2/flickr/css/dc_jflickrfeed.css" type="text/css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/styles.css" rel="stylesheet">
    

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css"/>
 Add the slick-theme.css if you want default styling 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css"/>
-->


    
      

  </head>
  <body>
    {{{body}}}
  </body>
</html>
