<header>
    <nav class="navbar navbar-inverse navbar-fixed-top big">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="images/logosml.svg" id="logo" />
                    <img src="images/logotext.svg" id="text" />
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="home"><a href="/">Home</a></li>
                <li class="active meet"><a href="/meet">Meet the Organisers</a></li>
                <li class="events"><a href="/events">Events</a></li>
                <!-- {{#unless firstName}} -->
                    <li class="signin">
                        <a href="/signin">Log in</a>
                    </li>
                    <li class="create">
                        <a href="/users/create">Register</a>
                    </li>
                <!-- {{/unless}}
                {{#if firstName}} -->
                <li class="user">
                    <span>Hi, {{firstName}}!</span>
                </li>
                <li class="logout">
                    <a href="/users/logout">Log out</a>
                </li>
                <!-- {{/if}} -->
                
                    
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>

<div class="banner">
    <div class="container">
        <div class="banner-title">
            <h1 class="title">Meet the Organisers</h1>
        </div>
    </div>
</div><!-- /.banner -->

    <div class="container">

<div class="starter-template">
        <h1>Bristol Photography Group</h1>
        <p class="lead">Some blurb</p>
      </div>

<div class="boxes">
    <div class="col-md-4">
        <div class="organiser">
            <h3 class="title">Organiser One</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales nunc lacus, nec tincidunt diam mattis non. Suspendisse ut felis eu leo congue suscipit ac sit amet mi. Vestibulum molestie blandit maximus. Aliquam at vehicula enim. Maecenas aliquet iaculis laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="organiser">
            <h3 class="title">Organiser Two</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia felis et hendrerit mollis. Maecenas eget justo lacus. Praesent laoreet sagittis eros, quis pretium risus. Morbi cursus molestie luctus. Cras sagittis et orci at congue. Nunc ut sodales purus, in hendrerit tellus. Mauris mollis, sapien in elementum placerat, erat sem.</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="organiser">
            <h3 class="title">Organiser Three</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec suscipit tortor. Pellentesque ligula neque, malesuada sed neque ac, tristique ornare arcu. Suspendisse eu augue eu ante pretium lacinia sit amet non orci. Aenean purus nisi, tincidunt id ornare at, pellentesque nec ligula. Ut quis dui et velit ultricies ultricies.</div>
        </div>
    </div>
</div>



</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/flickr.js"></script>
    <script src="javascripts/meetup.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  

<domflags id="domflags-root"></domflags>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
      
  

<!-- DC jflickrfeed: Colorbox Lightbox -->
<link href="http://cdn.dcodes.net/2/flickr/js/colorbox/colorbox.css" rel="stylesheet" type="text/css" media="screen" /> 
<script src="http://cdn.dcodes.net/2/flickr/js/colorbox/jquery.colorbox-min.js"></script>

<!-- DC jflickrfeed: Cycle Slider -->

<script src="http://cdn.dcodes.net/2/flickr/js/cycle/jquery.cycle.all.js"></script>

<script type="text/javascript" src="javascripts/slick.js"></script>
      <script src="javascripts/animate.js"></script>
      
      <script type="text/javascript" src="javascripts/slickcustom.js"></script>

    </body>
</html>